@using Construx.App.Constants
@model Construx.App.Domain.Entities.Service

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Service</h4>
    @if (!ViewBag.HasBookmark)
    {
        <a class="btn btn-secondary d-inline-block white-text" asp-action="BookmarkService" asp-route-id="@Model.Id">Bookmark</a>
    }
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<hr />
<div class="row">

    <div class="col-6">
        @if (User.IsInRole(UserRoles.User))
        {

            <h5>Add to plan</h5>
            <form method="post" asp-action="AddToPlan" class="input-group d-flex flex-column">
                <div class="form-group">
                    <label class="control-label">Select plan</label>
                    <select class="form-control" asp-items="@ViewBag.Plans" name="plan"></select>
                </div>
                <input type="hidden" value="@Model.Id" name="serviceid" />
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Add to my plan">
                </div>
            </form>
            <br />
        }
        @if (User.IsInRole(UserRoles.Admin) || (User.IsInRole(UserRoles.Representative) && User.Identity.Name.Equals(Model.Company.Representative?.User.UserName)))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit Company & Add Services</a>
        }

        <a asp-action="Index">Back to List</a>
    </div>

    <div class="col-6">
        @if (!ViewBag.HasReview)
        {
            <h5>Add a review:</h5>

            <div class="">
                <form asp-action="AddReview">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="@Model.Id" name="serviceId" />

                    <div class="form-group">
                        <label class="control-label"></label>
                        <input name="rating" class="form-control" type="number" max="5" min="1" />
                    </div>
                    <div class="form-group">
                        <label class="control-label"></label>
                        <textarea name="description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add Review" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        }
    </div>
</div>
<hr />