@model Construx.App.Domain.Entities.Plan

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Plan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <hr />
    <h4>Plan Parts</h4>
    <div class="alert alert-info"> Upload photos to parts by clicking Edit.</div>
    <p>
        <a asp-route-planid="@Model.Id" asp-controller="PlanParts" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th class="th-alt">
                    Name
                </th>
                <th>
                    Description
                </th>
                <th class="th-alt">
                    FromDate
                </th>
                <th>
                    ToDate
                </th>
                <th class="th-alt">
                    Status
                </th>
                <th>
                    Service
                </th>
                <th class="th-alt">
                    Priority
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.PlanParts)
            {
                <tr>
                    <td class="td-alt">
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td class="td-alt">
                        @if (item.ToDate <= DateTime.Now.Date)
                        {
                            <span class="red">@item.FromDate.ToString("dd-MM-yyyy")</span>
                        }
                        else
                        {
                            <span class="green">@item.FromDate.ToString("dd-MM-yyyy")</span>
                        }
                    </td>
                    <td>

                        @if (item.ToDate <= DateTime.Now.Date)
                        {
                            <span class="red">@item.ToDate.ToString("dd-MM-yyyy")</span>
                        }
                        else
                        {
                            <span class="green">@item.ToDate.ToString("dd-MM-yyyy")</span>
                        }
                    </td>
                    <td class="td-alt">

                        @item.Status.Name
                    </td>
                    <td>
                        <a asp-controller="Services" asp-action="Details" asp-route-id="@item.Service?.Id">@item.Service?.Name</a>
                    </td>
                    <td class="td-alt">
                        @switch (item.Priority)
                        {
                            case 1:
                                <span class="green">@item.Priority</span>
                                break;
                            case 2:
                                <span class="orange">@item.Priority</span>
                                break;
                            case 3:
                                <span class="red">@item.Priority</span>
                                break;
                        }
                    </td>
                    <td class="d-flex justify-content-around">
                        <a asp-controller="PlanParts" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="PlanParts" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="PlanParts" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index">Back to Plans</a>
</div>