@model IEnumerable<Construx.App.Domain.Entities.Bookmark>

@{
    ViewData["Title"] = "Index";
}

<h1>My Bookmarks</h1>

<table class="table">
    <thead>
        <tr>
            <th class="th-alt">
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th class="th-alt">
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th class="th-alt"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="td-alt">
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td class="td-alt">
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.Raw(item.DateCreated.ToString("dd/MM/yyyy"))
                </td>
                <td class="td-alt d-flex justify-content-around" >
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>