@model Construx.App.Domain.Entities.PlanPart

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<h3>Plan: @Model.Plan.Name</h3>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>
        <dd class="col-sm-10">
            @Model.FromDate.ToString("dd-MM-yyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>
        <dd class="col-sm-10">
            @Model.ToDate.ToString("dd-MM-yyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div class="d-flex justify-content-between">
    <h3>Gallery:</h3>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-controller="Plans" asp-action="Details" asp-route-id="@Model.PlanId">Back to List</a>
    </div>
</div>

<div class="alert alert-info"> Delete photos by clicking on them.</div>

<div class="bg-gray rounded-lg d-flex flex-wrap w-100">
    @if (ViewBag.HasPhotos)
    {
        @foreach (var photo in ViewBag.photos)
        {
            <a asp-controller="Photos" asp-action="Delete" asp-route-id="@photo.Id"><img src="@photo.Name" class="shadow-sm p-2" style="max-width:400px; max-height:400px;"/></a>

        }
    }
</div>


