@model IEnumerable<Construx.App.Domain.Entities.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>My Reviews</h1>

<table class="table">
    <thead>
        <tr>
            <th class="th-alt">
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th class="th-alt">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="td-alt">
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td class="td-alt">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="d-flex justify-content-around">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>